samples/TestADE/TestADE-XML-Schema.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:TestADE="http://www.citygml.org/ade/TestADE/1.0" xmlns:bldg="http://www.opengis.net/citygml/building/2.0" xmlns:core="http://www.opengis.net/citygml/2.0" xmlns:gml="http://www.opengis.net/gml" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://www.citygml.org/ade/TestADE/1.0" version="1.0">
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="http://schemas.opengis.net/citygml/2.0/cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/building.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ownerName" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="string"/>
  <element name="floorArea" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="gml:AreaType"/>
  <element name="energyPerformanceCertification" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="TestADE:EnergyPerformanceCertificationPropertyType"/>
  <element name="buildingUnit" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="TestADE:_AbstractBuildingUnitPropertyType"/>
  <element name="BuildingUnit" substitutionGroup="TestADE:_AbstractBuildingUnit" type="TestADE:BuildingUnitType"/>
  <complexType name="BuildingUnitType">
    <complexContent>
      <extension base="TestADE:_AbstractBuildingUnitType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:BuildingUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="BuildingUnitPart" substitutionGroup="TestADE:_AbstractBuildingUnit" type="TestADE:BuildingUnitPartType"/>
  <complexType name="BuildingUnitPartType">
    <complexContent>
      <extension base="TestADE:_AbstractBuildingUnitType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingUnitPartPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:BuildingUnitPart"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="DHWFacilities" substitutionGroup="TestADE:Facilities" type="TestADE:DHWFacilitiesType"/>
  <complexType name="DHWFacilitiesType">
    <complexContent>
      <extension base="TestADE:FacilitiesType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DHWFacilitiesPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:DHWFacilities"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="EnergyPerformanceCertification" substitutionGroup="gml:_Object" type="TestADE:EnergyPerformanceCertificationType"/>
  <complexType name="EnergyPerformanceCertificationType">
    <sequence>
      <element maxOccurs="unbounded" name="certificationName" type="string"/>
      <element name="certificationid" type="string"/>
    </sequence>
  </complexType>
  <complexType name="EnergyPerformanceCertificationPropertyType">
    <sequence>
      <element ref="TestADE:EnergyPerformanceCertification"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Facilities" substitutionGroup="gml:_Feature" type="TestADE:FacilitiesType"/>
  <complexType abstract="true" name="FacilitiesType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="totalValue" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FacilitiesPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:Facilities"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="IndustrialBuilding" substitutionGroup="bldg:_AbstractBuilding" type="TestADE:IndustrialBuildingType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="topLevel">true</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="IndustrialBuildingType">
    <complexContent>
      <extension base="bldg:AbstractBuildingType">
        <sequence>
          <element minOccurs="0" name="remark" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IndustrialBuildingPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:IndustrialBuilding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="IndustrialBuildingPart" substitutionGroup="bldg:BuildingPart" type="TestADE:IndustrialBuildingPartType"/>
  <complexType name="IndustrialBuildingPartType">
    <complexContent>
      <extension base="bldg:BuildingPartType">
        <sequence>
          <element minOccurs="0" name="remark" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IndustrialBuildingPartPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:IndustrialBuildingPart"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="IndustrialBuildingRoofSurface" substitutionGroup="bldg:RoofSurface" type="TestADE:IndustrialBuildingRoofSurfaceType"/>
  <complexType name="IndustrialBuildingRoofSurfaceType">
    <complexContent>
      <extension base="bldg:RoofSurfaceType">
        <sequence>
          <element minOccurs="0" name="remark" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IndustrialBuildingRoofSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:IndustrialBuildingRoofSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="LightingFacilities" substitutionGroup="TestADE:Facilities" type="TestADE:LightingFacilitiesType"/>
  <complexType name="LightingFacilitiesType">
    <complexContent>
      <extension base="TestADE:FacilitiesType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LightingFacilitiesPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:LightingFacilities"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="OtherConstruction" substitutionGroup="core:_Site" type="TestADE:OtherConstructionType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="topLevel">true</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="OtherConstructionType">
    <complexContent>
      <extension base="core:AbstractSiteType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="boundedBy" type="bldg:BoundarySurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OtherConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:OtherConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="_AbstractBuildingUnit" substitutionGroup="core:_CityObject" type="TestADE:_AbstractBuildingUnitType"/>
  <complexType abstract="true" name="_AbstractBuildingUnitType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="energyPerformanceCertification" type="TestADE:EnergyPerformanceCertificationPropertyType"/>
          <element minOccurs="0" name="lod2MultiCurve" type="gml:MultiCurvePropertyType"/>
          <element minOccurs="0" name="lod3MultiCurve" type="gml:MultiCurvePropertyType"/>
          <element minOccurs="0" name="lod4MultiCurve" type="gml:MultiCurvePropertyType"/>
          <element minOccurs="0" name="lod1MultiSurface" type="gml:MultiSurfacePropertyType"/>
          <element minOccurs="0" name="lod2MultiSurface" type="gml:MultiSurfacePropertyType"/>
          <element minOccurs="0" name="lod3MultiSurface" type="gml:MultiSurfacePropertyType"/>
          <element minOccurs="0" name="lod4MultiSurface" type="gml:MultiSurfacePropertyType"/>
          <element minOccurs="0" name="lod1Solid" type="gml:SolidPropertyType"/>
          <element minOccurs="0" name="lod2Solid" type="gml:SolidPropertyType"/>
          <element minOccurs="0" name="lod3Solid" type="gml:SolidPropertyType"/>
          <element minOccurs="0" name="lod4Solid" type="gml:SolidPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="equippedWith" type="TestADE:FacilitiesPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="consistsOf" type="TestADE:BuildingUnitPartPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="_AbstractBuildingUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:_AbstractBuildingUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
